/* vormgeving van een lijst */
/* en een lijst binnen een lijst */
li{
	list-style: outside georgian none;
	margin: -1px 0px 0px 0px;
}
li li {
	list-style:url(../Les9/Yin-Yang.png);
}
a {
	background-color: darkorange; 
    font-family: cursive;
}

li li a{
	background-color: palevioletred;
}

@media only screen and (max-width: 720px) {
				body {

					background-color: dodgerblue;
					background-size: 100%;
                    font-family: monospace;
                    font-size: 2em;
                    
				}